---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my published work on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{%- comment -%}
  1.  Newest date first (secondary key)
{%- endcomment -%}
{% assign pubs_by_date = site.publications
                         | sort: "date"      
                         | reverse %}        

{%- comment -%}
  2.  Highest `order:` first (primary key)
{%- endcomment -%}
{% assign pubs_sorted = pubs_by_date
                       | sort: "order"       
                       | reverse %}          

{%- comment -%}
  3.  Now render, with or without categories
{%- endcomment -%}
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% assign cat_pubs = pubs_sorted
                         | where: "category", category[0] %}

    {% for post in cat_pubs %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in pubs_sorted %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}




