/*  STEP 1:  _sass/theme/_my-palette.scss  */
:root {
  --global-link-color        : #0057b7;
  --global-link-color-hover  : darken(#0057b7, 8%);
  --global-base-color        : #222;
  --global-bg-color          : #F7F8F2;
}
