/*  STEP 1:  _sass/theme/_my-palette.scss  */

// Light mode colors
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);



// Dark mode colors
$dbackground                 : #474747;
$dbackground-light           : mix(#F7F8F2, #474747, 50%);
$dbackground-lighter         : mix(#F7F8F2, #474747, 50%);

:root {
    --global-link-color        : #{$darker-gray};
    --global-link-color-hover  : #{$darker-gray};
    --global-text-color        : #{$darker-gray};
    --global-base-color        : #788053;
    --global-bg-color          : #F7F8F2;
    --global-footer-bg-color   : #ECEDE4;
    --global-dark-border-color : #DBDECF;
    --global-border-color      : #DBDECF;
}

html[data-theme="dark"] {
    --global-base-color                 : #788053;
    --global-bg-color                   : #{$dbackground};
    --global-footer-bg-color            : #{$dbackground};
    --global-border-color               : mix(#F7F8F2, $dbackground, 80%);
    --global-dark-border-color          : mix(#F7F8F2, $dbackground, 70%);
    --global-code-background-color      : #F7F8F2;
    --global-link-color                 : #F7F8F2;
    --global-link-color-hover           : #F7F8F2;
    --global-link-color-visited         : #F7F8F2;
}