.paper-download {
  font-size: $type-size-6;   /* 0.75 em in the theme’s scale */
}

.sidebar .author__name { display: none; }

.archive__item-title,
.archive__item-title a,
.archive__item-title a:visited {
  font-weight: 400;          /* or normal, or 500 if you want medium */
}

.sidebar {
  /* limit only the bio paragraph (not the list below) */
  .author__bio {
    max-width: 8rem;   /* ← pick any width that gives you the vertical balance you like */
  }
}